# Application configuration
APP_NAME=freetter
APP_ENV=local
APP_KEY=base64:XXXX
APP_DEBUG=true
APP_URL=http://localhost



# PostgreSQL database configuration
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=freetter
DB_USERNAME=root
DB_PASSWORD=''
DB_CHARSET=utf8
DB_SSLMODE=prefer

#Redis configuration
REDIS_CLIENT=phpredis
REDIS_CLUSTER=redis
REDIS_PREFIX=
REDIS_PERSISTENT=false
REDIS_HOST=redis

VITE_APP_NAME="${APP_NAME}"

# Mail configuration
MAIL_MAILER=resend
RESEND_API_KEY=
MAIL_FROM_ADDRESS=no-reply@freetter.app
MAIL_FROM_NAME=Freetter

# DigitalOcean Spaces configuration //Caduca en un año, creada el: 23-06-2025
DIGITALOCEAN_API_KEY=

#OpenCode configuration
OPENCODE_API_KEY=